img {
	max-width: 100%;
	max-height: 120px;

}

.the-table {
	background-color: #277714;
	border: 5px solid #dcdcdc;
	padding: 30px 0px;
	border-radius: 10px;

}

.card{
	height: 120px;
	background-color: white;
	margin: 10px;
	width: 12.6%;
	float: left;
}